/** BASE **/

a {
  text-decoration: none;
}
footer {
  margin-top: 1em;
  font-size: .7em;
}

/** LAYOUT **/

.plan-title {
  margin-top: 2em;
}
.flex-container__horiz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border: thin solid black;
}
.flex-container__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.horiz-bar--header {
  margin-bottom: 0;
}
.photo-container {
  background-color: gray;
  margin: 0.25em;
}
.photo-container img {
  width: 100%;
  display: block;
}
.photo-container--searchterm {
  padding: 1em;
  margin-bottom: 0;
}
.flex-container__login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
.account-form {
  padding: 1em;
  margin-top: 3em;
}
#search-form {
  background-color: gray;
  margin-top: .25em;
}
#search-form fieldset {
  padding: 1em;
}
#search-form label {
  display: inline-block;
}
#search-form input[type="text"] {
  width: 20%;
  display: inline-block;
}
.hidden {
  display: block;
}
.navbar {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  margin-top: .25em;
}
#plansParent {
  margin-top: 0.5em;
  display: inline-block;
}
button {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-align: center;
  display: inline-block;
  width: auto;
}
.currentPlan {
  font-size: 2em;
}
#planSelect {
  font-size: 1.25em;
}
/* LAYOUT - Media Query */

@media only screen and (min-width: 15em) {
  /*phones */
  header h1 {
    font-size: 7em;
  }
  #branding img {
    height: 7em;
  }
  .flex-container__favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border: thin solid black;
  }
  .three.columns {
    width: 100%;
    /* to change when skeleton pops three columns to full width */
  }
}
@media only screen and (min-width: 45em) {
  /*skeleton pops*/
  header h1 {
    font-size: 8em;
  }
  #branding img {
    height: 8em;
  }
  .flex-container__favorites {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border: 0.1em solid;
    padding: 0.1em;
  }
  .three.columns {
    width: 22%;
    /* to change when skeleton pops three columns to full width */
  }
}

/** MODULES **/


/** -- Banner Module **/

#branding img {
  float: left;
  padding: 1em;
}
header h1 {
  font-family: 'Fairview', 'Arial', sans-serif;
  float: left;
}
#login-container {
  float: right;
  text-align: center;
  padding: 3em;
}

/** -- Viewer Pane Module **/

#viewer-container {
  position: relative;
}
#wikiScrollBox {
  max-height: 10em;
  overflow: auto;
  border: thin solid black;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

.bx-wrapper img {
  margin: 0 auto;
}
.newCaption {
  padding: 1em;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.openHeart {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.brokenHeart {
  background: url('../images/heartSprite-white.png') no-repeat;
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.openHeart {
  background: url('../images/heartSprite-white.png') no-repeat;
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.filledHeart {
  background: url('../images/heartSprite-white.png') no-repeat;
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
#hearts {
  position: absolute;
  z-index: 500;
  margin-top: -7em;
  right: 1em;
  /*This positions the heart horizontally so
                        it is an appropriate distance from the edge of the pic */
}

/** THEME **/

@font-face {
  font-family: 'Fairview';
  src: url("../fonts/Fairview_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EdmondSans';
  src: url("../fonts/Edmondsans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EdmondSans';
  src: url("../fonts/Edmondsans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'EdmondSans', sans-serif;
}
.account-form {
  border: thin solid #244159;
  /* dark navy */
  border-radius: .5em;
}
#branding, #login-container, fieldset, .navbar, .photo-container {
  background-color: #708A9F;
  /* muted blue gray*/
}
.newCaption {
  background-color: #244159;
  /* dark navy */
  color: white;
}
.newCaption a, .photo-container {
  color: white;
}
.newCaption a:hover {
  color: #579ED8;
  /* bright blue */
}
header a, form a {
  color: #244159;
  /* dark navy */
}
.add_link, button, form input[type="submit"] {
  background-color: #39668C;
  /* medium blue */
  color: white;
}

/** STATE **/

header a:hover, form a:hover, fieldset input:hover {
  color: #579ED8;
  /* medium blue */
}
#login-form:hover, #signup-form:hover {
  background: #708A9F;
  /* muted blue gray*/
}
.add_link:hover, button:hover, form input[type="submit"]:hover {
  background-color: #579ED8;
  /* bright blue */
}
