@font-face {
  font-family: 'Fairview';
  src: url("../fonts/Fairview_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
#branding img {
  float: left;
  padding: 1em;
  height: 8em;
}

header h1{
  font-family: 'Fairview', 'Arial', sans-serif;
  font-size: 8em;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#logo {
}

#app-name {
}

#login-container {
  background-color: yellow;
}


/* Media Query */

@media only screen and (min-width: 15em) { /*phones */


}
@media only screen and (min-width: 55em) { /* phablet or bigger */
]

}
